<!DOCTYPE html>

<head>
    <title>Gif Searcher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="styles/css/bootstrap.min.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/css/bootstrap.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="styles/mainpage.css")}}"">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap" rel="stylesheet">
</head>

<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Gif Seacher</a>
        <form class="form-inline" action="gif">
            
            <input class="form-control mr-sm-2" type="text" name="search" value="" placeholder="Search" aria-label="Search">

            <button class="btn btn-dark my-2 my-sm-0" type="submit" name="submit" value="Submit"><i class="fas fa-search"></i></button>
        </form>
    </nav>
</header>

<body style="width: 880px; margin: auto;">

    <!-- <form action="/action_page.php">
            Search : <input type="text" name="firstname" value="Mickey">

            <input type="submit" value="Submit">
        </form> -->

    <div class="about">
        <p class="header1 text-center">Legal</p>
        <p class="text-center">This website was written in Python3, utilizing the Flask and Bootstrap frameworks. This website’s code is open source and can be accessed at our Github repo linked at the bottom of each page. There is no active license on this product and all risk of use lies with the end user.</p>
    </div>

</body>

<footer>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="legal">Legal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/apologeticaly/gif-search" target="_blank">Github <i class="fab fa-github"></i></a>
                </li>
            </ul>
            <div class="navbar-collapse collapse order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <p class="navbar-text-copyright">© 2019 All Rights Reserved</p>
                </ul>
            </div>
        </div>
    </nav>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/328b24ef5b.js"></script>
